*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
   /* background: rgb(43 48 53);*/
    color: #ffffff;
   
    
}

header{ 
    padding: 0px 50px 0 0;
    font-size: 40px;
}

form h1{
    color: #ff9900;
}




/*Classes*/

.center{
    text-align: center;
}



.hub{
    display: inline;
    background: #ff9900;
    color: #000000;
    border-radius: 5px;
    padding: 6px;
    box-shadow: rgba(255, 153, 0, 1) 0px 0px 20px 3px;
}


.container{
    width: 420px;
    background: #000000;
    border: 2px solid #ff9900;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: rgba(255, 153, 0, 0.8) 0px 19px 38px, rgba(255, 153, 0, 0.5) 0px 15px 12px;
    backdrop-filter: blur(20px);
}
.container h1{
    font-size: 36px;
    text-align: center;
}



.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: rgb(43 48 53);
    outline: none;
    border: none;
    color: #ffffff;
    padding: 20px 45px 20px 20px; 
    border-radius: 40px;
}
.input-box input::placeholder{
    color: #c5c5c5;
}
.input-box i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    transform: translateY(-50%);
    top: 50%;
}



.remember-forgot{
    display:flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: rgb(255 153 0);
    margin-right: 5px;
}
.remember-forgot a{
    text-decoration: none;
    color: #ff9900;
}
.remember-forgot a:hover{
    text-decoration: underline;
}




.login{
    width: 100%;
    height: 50px;
    background-color: #ff9900;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    margin-top: 20px
}
.login:hover{
    color: #ffffff;
    box-shadow: rgba(255, 153, 0, 1) 0px 0px 20px 3px;
       transition: 0.7s;  
    }



.register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link a{
    text-decoration: none;
    color: #ff9900;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
}

.size{
    font-size: 150px;
}


.footer{
    color: #ff9900;
    font-family: sans-serif;
    display: block;
    text-align: center;
}